.venv/
__pycache__/

temp/
models/
src/dataset/fairface/

.ipynb_checkpoints/

.vscode/
.idea/
temp/

src/test.ipynb
src/resume_training2.ipynb
src/main_debug.py
src/main_debug_2.py
src/main_debug_3.py
src/wandb.ipynb
src/predictions.csv
src/diag.py
src/fairface_realtime_webcam.ipynb
src/debug.py


wandb/


test-images/
doc/

# checkpoints/

# Ignore everything under checkpoints
checkpoints/**

# Allow model folders
!checkpoints/*/

# Allow only version folders starting with v
!checkpoints/*/v*/

# Keep only selected files
!checkpoints/*/v*/*-best-heads.pt
!checkpoints/*/v*/best-heads*.pt
!checkpoints/*/v*/notes.txt