.venv/
__pycache__/

temp/
models/
src/dataset/fairface/

.ipynb_checkpoints/

.vscode/
.idea/
temp/

src/test.ipynb
src/resume_training2.ipynb
src/main_debug.py
src/main_debug_2.py
src/main_debug_3.py
src/wandb.ipynb
src/predictions.csv
src/diag.py


figures/

wandb/


test-images/
doc/



# Ignore checkpoint contents
checkpoints/*/v*/*

# Allow version folders
!checkpoints/*/
!checkpoints/*/v*/

# Keep only trained heads
!checkpoints/*/v*/*-best-heads.pt
!checkpoints/*/v*/best-heads*.pt
!checkpoints/*/v*/notes.txt